<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<!-- https://www.baeldung.com/logback -->
<configuration scan="true">
	<property name="LOG_PATH" value="logs"/>
<!-- 	<include resource="org/springframework/boot/logging/logback/base.xml" /> -->

	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />


<!-- 	<logger name="org.hibernate.SQL" level="DEBUG" /> -->
<!-- 	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" /> -->

<!--     <logger name="org.hibernate" level="TRACE"/> -->
<!--     <logger name="com" level="TRACE"/> -->
<!--     <logger name="com.ensaf" level="DEBUG"/> -->
<!--     <logger name="com.ensaf.ekili" level="WARN"/> -->
    <logger name="ma.ensaf" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
