<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.activation.title}">Activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
    	<form action="#" th:action="@{/auth/reset-password-finish}" th:object="${user}" method="post">
		    <input type="hidden" th:field="*{key}">
		    <label for="password">Nouveau mot de passe</label>
		    <input type="password" th:field="*{password}" id="password" placeholder="Nouveau mot de passe">
		    <label for="validatePassword">Retaper le mot de passe</label>
		    <input type="password" id="validatePassword">
		    
		    <input type="submit" value="Modifier mot de passe">   
		</form>
    </body>
</html>
